body {
  background-color: floralwhite;
  font-family: 'Roboto Slab', serif;
  background: url('http://www.myfreetextures.com/wp-content/uploads/2014/10/background-seamless-wood-2.jpg');
  background-size: cover;
  margin-bottom: 1em;
}
h1, p, button {
  text-align: center;
}
#play {
  display: inline-block;
  margin-left: 54em;
  margin-bottom: 2em;
}
#restart {
  display: inline-block;
}

.active {
  pointer-events: none;
}

.pic {
  background: url('https://media.giphy.com/media/iPTTjEt19igne/giphy.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 376px;
  height: 170px;
}

.facedown:hover {
  background-color: pink;
}

.facedown {
  background-color: #b69393;
  display: inline-block;
  height: 110px;
  width: 110px;
  border-radius: 20%;
  z-index: 1;
  margin: 4px;
}

.opacity {
  opacity: 0;
}

.board-color {
  background-color: floralwhite;
  margin: auto 380px;
  padding: 3em;
  border: 1px solid black;
  border-radius: 2%;
}


.card {
  display: inline-block;
  height: 110px;
  width: 110px;
  border-radius: 20%;
  z-index: 1;
  margin: 4px;
}
.grid {
  width: 100%;
  text-align: center;
}

.crown {
  background: url('/images/crown.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.bownarrow {
  background: url('http://i.imgur.com/K9BFr7C.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.dog {
  background: url('images/dog.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.flag {
  background: url('images/flag.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.libra {
  background: url('images/libra.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.soccer {
  background: url('images/soccer.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.pizza {
  background: url('images/pizza.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.party {
  background: url('images/party.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: -1;
}
